/***** common utility *****/
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

/***** End common utility *****/

/***** header section  *****/
.header {
    background-image: url('/images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.nav-item {
    padding: 0 8px;
}

.nav-link {
    color: rgba(255, 255, 255, 0.98);
    padding: 0;
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #008ed6;
    transition: 0.4s all ease-in-out;
}

.nav-link::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #008ed6;
    transition: 0.4s all ease-in-out;
}

.nav-link:hover {
    color: #fff;

}

.nav-link:hover::before {
    width: 47%;
}

.nav-link:hover::after {
    width: 47%;
}

/***** End header section  *****/

/***** Banner section  *****/
.banner {
    min-height: 90vh;
    align-items: center;

}

.banner h4 {
    color: #008ed6;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px
}

.banner h1 {
    color: #fff;
    text-transform: uppercase;
    margin: 25px 0px;
    font-weight: 700;
}

.banner p {
    color: #999;
    text-align: justify;
}

.btn-download {
    color: rgb(255, 255, 255);
    background: #008eb5;
    border: 1px solid transparent;
    padding: 10px 25px;
    margin-top: 50px;
}

.btn-features {
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 25px;
    margin-top: 50px;
    color: #fff;
}

.btn-download:hover {
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 25px;
    color: #fff;
}

.btn-features:hover {
    color: rgb(255, 255, 255);
    background: #008eb5;
    border: 1px solid transparent;
    border: none;

}

.photo {
    position: absolute;
    bottom: 0px;
    right: 10%;
}

/***** End Banner section  *****/

/***** product overview *****/
.product-overview {
    position: relative;
}

.product-overview-info {
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #008eb5;
    ;
}

.product-overview h2 {}

h2.text-center::before {
    content: "";
    left: 44%;
    bottom: 34px;
    width: 0;
    height: 2px;
    background: #008eb5;
    position: absolute;
    transition: 0.4s all ease-in-out;
}

h2.text-center::after {
    content: "";
    right: 47%;
    bottom: 34px;
    width: 0;
    height: 2px;
    background: #008eb5;
    position: absolute;
    transition: 0.4s all ease-in-out;

}

h2.text-center:hover::before {
    width: 4%;
}

h2.text-center:hover::after {
    width: 4%;
}


.single-product {

    text-align: center;
}

.icon {
    margin-left: 38%;
    margin-bottom: 20px;
    width: 70px;
    display: flex;
    height: 70px;
    text-align: center;
    border: 1px solid #008eb5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;


}

.icon i {
    font-size: 25px;
    color: #008eb5;
}

.icon-info h4 {
    font-weight: 400;
}

/***** End product overview *****/